<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-feature android:name="android.hardware.camera" />-->

<!--    <uses-permission android:name="android.permission.CAMERA" />-->

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeowFinder"
        tools:targetApi="31">
        <activity
            android:name=".ui.menu.BritishShorthairActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.MainActivity" />
        <activity
            android:name=".ui.menu.AdoptPersianActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.MainActivity" />
        <activity
            android:name=".ui.menu.BuyRoyalCaninActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.MainActivity" />
        <activity
            android:name="com.Capstone.createaccount.CreateaccountActivity"
            android:exported="false" />
        <activity
            android:name="com.Capstone.logined.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.Capstone.getstarted.getstartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menu.BuyWhiskas"
            android:exported="false"
            android:parentActivityName=".ui.home.MainActivity" />
        <activity
            android:name=".ui.classification.ClassificationActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.MainActivity"/>
        <activity
            android:name=".ui.EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <!--suppress AndroidDomInspection -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>
    </application>

</manifest>